<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <title>AUSC Course Companion</title>
</head>
<body>
  <style>
    body{
      font-family: cursive;


    }
  </style>
    <%-include('../partials/navbar.ejs')%>
    

    <div class="container shadow-sm m-1">
        
    </div>
    <div class="container-fluid m-1 justify-content-center">
        <div class="row">
        <div class="card shadow-sm rounded-top col m-3" >
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <p><h3>Name</h3></p>
                <p><h5>Something about yourself</h5></p>
                <a class="btn">github</a>
                <a class="btn btn-success">linkedin</a>
                
            </div>
        </div>
        <div class="card shadow-sm rounded-top col m-3">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <p><h3>Name</h3></p>
                <p><h5>Something about yourself</h5></p>
                <a class="btn">github</a>
                <a class="btn">linkedin</a>
            </div>
        </div>
        </div>
    </div>
    





    <script type="module" src="./js/bootstrap.min.js"></script>
</body>
</html>