<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AUSC Home</title>

    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="/homemain.css" type="text/css">

</head>
<body>
    

    
    <!-- <div>
      <video id="bgvid" class="autoplay muted">
        <source src="/coloredsmoke.webm" type="video/webm">

      </video>

    </div> -->
    
  <div id="mainbody" class="row">
    <div id="navbarmain">
        <nav class="navbar navbar-expand-lg navbar-dark bg-danger ">
            <div class="container-fluid">
                
              <a class="navbar-brand" href="/">AUSC</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/todo">ToDo</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/courseComp">Course Companion</a>
                  </li>
                  
                  
        
                </ul>
                <h3><a  class="nav-link-active" aria-current="page" href="/login"><%=Uname%></a></h3>

                
              </div>
            </div>
          </nav>
    </div>
  </div>
  <div id="homebody" class="row">
    <div class="col">

        <div id="todopanel" class="container shadow-lg border rounded h-100 mt-4">
          <div id="todohead" class="h3 mt-2">To Do Today</div>
          <ul class="list-group">
            <% if(typeof(todos) != 'undefined'){ %>
            <% todos.forEach(mytodos => { %>
            <li class="h4 list-group-item"><%= mytodos.todo %></li>   
            <% }); %>
            <% }else{ %>
            <li class="h4 list-group-item">Nothing Here...</li>
            <% }%>
          </ul>

          

        </div>




    </div>
    <div class="col">
      <div id="schedulepanel" class="container shadow-lg border rounded h-100 mt-4">
        <div id="scheduletoday" class="h3 mt-2">Schedule Today</div>
        <ul class="list-group">
          <% if(typeof(usercourses) != 'undefined'){ %>
          <% usercourses.forEach(course => { %>
          <li class="h4 list-group-item"><%= course %></li>   
          <% }); %>
          <% }else{ %>
          <li class="h4 list-group-item">Nothing Here...</li>
          <% }%>
        </ul>
      </div>
    </div>

    <div class="adminbtn">
      <% if(isadmin){ %>
        <a class="btn btn-outline-danger" aria-current="page" href="/admin">Admin</a>
      <% } %>
    </div>

    <!-- bootstrap cdn -- may also use bootstrap installed as package later-->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
    <script type="module" src="./js/bootstrap.min.js"></script>
</body>
</html>